body {
    background-color: #141414;
}
  
.about-me .main {
    background-color: #141414;
}
  
.about-me .main__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 85vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about-me .main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about-me .main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about-me .main__content p {
    margin-top: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
}

.about-me .main__img--container {
    text-align: center;
}

.about-me .main__img {
    height: 90%;
    width: 90%;
}


@media screen and (max-width: 1000px) {
    .about-me .main__content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .about-me .main__content h2 {
        font-size: 3rem;
    }

    .about-me .main__content p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .about-me .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 75vh;
    }

    .about-me .main__content {
        text-align: center;
        align-content: space-evenly;
    }

    .about-me .main__content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .about-me .main__content h2 {
        font-size: 3rem;
    }

    .about-me .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .about-me.main__img {
        width: 50%;
    }
}

@media screen and (max-width: 570px) {
    .about-me .main__container {
        height: 65vh;
    }

    .about-me .main__content h1 {
        font-size: 2.5rem;
    }

    .about-me .main__content h2 {
        font-size: 2.5rem;
    }

    .about-me .main__content p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    .about-me .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .about-me .main__content h2 {
        font-size: 2rem;
    }

    .about-me .main__content p {
        margin-top: 2rem;
        font-size: 1rem;
    }
}


.about {
    background-color: #141414;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem auto 0;
    max-width: 1300px;
    padding: 0 100px;
    align-items: center;
    justify-self: center;
    width: 100%;
    background-color: #141414;
    z-index: 1;
}

.about__content {
    color: #fff;
}

.about__content h1 {
    margin: 2rem 0 0.5rem;
}
.about__content h2 {
    margin-bottom: 0.25rem;
}
.about__content h3 {
    margin-top: 0.5rem;
}
.about__content li {
    margin-left: 1rem;
}
.about__content p {
    margin-bottom: 1rem;
}

.about__img--container {
    text-align: center;
}

.about__img {
    height: 80%;
    width: 80%;
}

.about__img--multiple {
    padding: 15% 0;
}

#activity li {
    margin-bottom: 3px;
}

@media screen and (max-width: 1180px) {
    .about__container {
        grid-template-columns: 1fr;
    }

    .about__img--container {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .about__content h1 {
        font-size: 1.75rem;
    }
    .about__content h2 {
        font-size: 1.25rem;
    }
    .about__content h3 {
        font-size: 1rem;
    }
    .about__content p {
        font-size: 0.9rem;
    }
}