.tic-tac-toe, .connect-4 {
    background-color: #141414;
    color: #141414;
    text-align: center;
}

#game__title {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 3vh auto 5px;
}

#game__title span {
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: relative;
    top: 1rem;
    animation: bounce 10s ease infinite normal;
}

#game__title .span--active {
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.5s ease;
}


@keyframes bounce {
    2% {
        top: 0;
    }
    4% {
        top: 1rem;
    }
}

#game__title span:nth-child(1) {
    animation-delay: 5000ms;
}

#game__title span:nth-child(2) {
    animation-delay: 5050ms;
}

#game__title span:nth-child(3) {
    animation-delay: 5100ms;
}

#game__title span:nth-child(4) {
    animation-delay: 5150ms;
}

#game__title span:nth-child(5) {
    animation-delay: 5200ms;
}

#game__title span:nth-child(6) {
    animation-delay: 5250ms;
}

#game__title span:nth-child(7) {
    animation-delay: 5300ms;
}

#game__title span:nth-child(8) {
    animation-delay: 5350ms;
}

#game__title span:nth-child(9) {
    animation-delay: 5400ms;
}

#game__title span:nth-child(10) {
    animation-delay: 5450ms;
}

#game__title span:nth-child(11) {
    animation-delay: 5500ms;
}

#game__title span:nth-child(12) {
    animation-delay: 5550ms;
}

#game__title span:nth-child(13) {
    animation-delay: 5600ms;
}

#game__title span:nth-child(14) {
    animation-delay: 5650ms;
}

#game__title span:nth-child(15) {
    animation-delay: 5700ms;
}

#game__title span:nth-child(16) {
    animation-delay: 5750ms;
}

#game__title span:nth-child(17) {
    animation-delay: 5800ms;
}

#game__title span:nth-child(18) {
    animation-delay: 5850ms;
}

#game__difficulty {
    position: relative;
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1rem;
}

#game__difficulty:hover {
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#game__info, #game__result {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

.game__result {
    margin-bottom: 10px;
}

.game__reset {
    font-size: 1rem;
    background-image: linear-gradient(to top, #a060ff 0%, #60a0ff 100%);
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    outline: none;
}

.game__reset:hover {
    background-image: linear-gradient(to top, #c040ff 0%, #8080ff 100%);
    transition: all 0.1s ease;
}

.game__reset:hover:active {
    transform: scale(1.25);
}

@media screen and (max-width: 960px) {
    #game__title {
        font-size: 2.2rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #game__title {
        font-size: 2rem;
    }
}


/* tic-tac-toe */

.tic-tac-toe #game__info::first-letter, .tic-tac-toe #game__result::first-letter {
    font-size: 30px;
}

.tic-tac-toe .board {
    display: grid;
    grid-template-columns: 9rem 9rem 9rem;
    grid-template-rows: 9rem 9rem 9rem;
    grid-gap: 5px;
    justify-content: center;
    background-color: #141414;
    padding: 10px;
}

.tic-tac-toe .board__square {
    background-color: #333333;
    padding: 15px 20px 25px 20px;
    border-radius: 5px;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    transition-property: font-size, padding;
}

.tic-tac-toe .board__square.is-active {
    font-size: 6rem;
    padding: 10px 20px 30px 20px;
}


@media screen and (max-width: 960px) {
    .tic-tac-toe .board {
        grid-template-columns: 8rem 8rem 8rem;
        grid-template-rows: 8rem 8rem 8rem;
    }
}

@media screen and (max-width: 480px) {
    .tic-tac-toe .board__square {
        font-size: 3rem;
        padding: 15.5px 20px 24.5px 20px;
    }

    .tic-tac-toe .board__square.is-active {
        font-size: 4.5rem;
        padding: 14px 20px 26px 20px;
    }

    .tic-tac-toe .board {
        grid-template-columns: 7rem 7rem 7rem;
        grid-template-rows: 7rem 7rem 7rem;
    }
}


/* connect-4 */

.connect-4 .board {
    display: table;
    box-sizing: border-box;
    border-color: white;
    border-spacing: 6px;
    margin: 1rem auto;
    position: relative;
    z-index: 3;
}

.connect-4 .board tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.connect-4 .board__row {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.connect-4 .board__cell {
    display: table-cell;
    height: 4rem;
    width: 4rem;
    position: relative;
    vertical-align: top;
    background-color: #333333;
    border-radius: 2rem;
    border: solid 2px #303030;
    cursor: pointer;
}

.connect-4 .board__cell.is-active {
    transition: background-color 1s;
}


@media screen and (max-width: 960px) {
    .connect-4 .board__cell {
        height: 3.5rem;
        width: 3.5rem;
    }
}

@media screen and (max-width: 480px) {
    .connect-4 .board__cell {
        height: 3rem;
        width: 3rem;
    }
}
