.tic-tac-toe {
    background-color: #141414;
    color: #141414;
    text-align: center;
}

#tic-tac-toe__title {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 3vh auto 5px;
}

#tic-tac-toe__title span {
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: relative;
    top: 1rem;
    animation: bounce 10s ease infinite normal;
}

#tic-tac-toe__title .span--active {
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.5s ease;
}


@keyframes bounce {
    2% {
        top: 0;
    }
    4% {
        top: 1rem;
    }
}

#tic-tac-toe__title span:nth-child(1) {
    animation-delay: 0ms;
}

#tic-tac-toe__title span:nth-child(2) {
    animation-delay: 50ms;
}

#tic-tac-toe__title span:nth-child(3) {
    animation-delay: 100ms;
}

#tic-tac-toe__title span:nth-child(4) {
    animation-delay: 150ms;
}

#tic-tac-toe__title span:nth-child(5) {
    animation-delay: 200ms;
}

#tic-tac-toe__title span:nth-child(6) {
    animation-delay: 250ms;
}

#tic-tac-toe__title span:nth-child(7) {
    animation-delay: 300ms;
}

#tic-tac-toe__title span:nth-child(8) {
    animation-delay: 350ms;
}

#tic-tac-toe__title span:nth-child(9) {
    animation-delay: 400ms;
}

#tic-tac-toe__title span:nth-child(10) {
    animation-delay: 450ms;
}

#tic-tac-toe__title span:nth-child(11) {
    animation-delay: 500ms;
}

#tic-tac-toe__title span:nth-child(12) {
    animation-delay: 550ms;
}

#tic-tac-toe__title span:nth-child(13) {
    animation-delay: 600ms;
}

#tic-tac-toe__title span:nth-child(14) {
    animation-delay: 650ms;
}

#tic-tac-toe__title span:nth-child(15) {
    animation-delay: 700ms;
}

#tic-tac-toe__title span:nth-child(16) {
    animation-delay: 750ms;
}

#tic-tac-toe__title span:nth-child(17) {
    animation-delay: 800ms;
}

#tic-tac-toe__title span:nth-child(18) {
    animation-delay: 850ms;
}

/* #tic-tac-toe__title::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    overflow: hidden;
    transition: width 0.5s;
    width: 0;
    white-space: nowrap;
}

#tic-tac-toe__title:hover::before {
    width: 100%;
} */


#tic-tac-toe__difficulty {
    position: relative;
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-image: linear-gradient(to top, #b72144 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1rem;
}

#tic-tac-toe__difficulty:hover {
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* #tic-tac-toe__difficulty::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #b721ff 0%, #20E0FF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    overflow: hidden;
    transition: width 0.5s;
    width: 0;
    white-space: nowrap;
}

#tic-tac-toe__difficulty:hover::before {
    width: 100%;
} */



#game__info, #game__result {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

#game__info::first-letter, #game__result::first-letter {
    font-size: 30px;
}

.game__result {
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: 9rem 9rem 9rem;
    grid-template-rows: 9rem 9rem 9rem;
    grid-gap: 5px;
    justify-content: center;
    background-color: #141414;
    padding: 10px;
}

.board__square {
    background-color: #333333;
    padding: 15px 20px 25px 20px;
    border-radius: 5px;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    transition-property: font-size, padding;
}

.board__square.is-active {
    font-size: 6rem;
    padding: 10px 20px 30px 20px;
}

.tic-tac-toe__reset {
    font-size: 1rem;
    background-image: linear-gradient(to top, #a060ff 0%, #60a0ff 100%);
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    outline: none;
}

.tic-tac-toe__reset:hover {
    background-image: linear-gradient(to top, #c040ff 0%, #8080ff 100%);
    transition: all 0.1s ease;
}

.tic-tac-toe__reset:hover:active {
    transform: scale(1.25);
}


@media screen and (max-width: 960px) {
    #tic-tac-toe__title {
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .board {
        grid-template-columns: 8rem 8rem 8rem;
        grid-template-rows: 8rem 8rem 8rem;
    }
}

@media screen and (max-width: 480px) {
    #tic-tac-toe__title {
        font-size: 2rem;
    }

    .board__square {
        font-size: 3rem;
        padding: 15.5px 20px 24.5px 20px;
    }

    .board__square.is-active {
        font-size: 4.5rem;
        padding: 14px 20px 26px 20px;
    }

    .board {
        grid-template-columns: 7rem 7rem 7rem;
        grid-template-rows: 7rem 7rem 7rem;
    }
}
